*{ 
    box-sizing: border-box;
}
body{
    font: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#container{
    width: 1050px;
    border: 1px solid grey;
    
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
h1 a{
    font-size: 50px;
    font-weight: 100;
    color: chocolate;
    text-decoration: none;
}
#searchbox{
    flex: 50%;
    background: linear-gradient(#f2a450, #fcc581);
    min-width:  520px;
    height: 70px;
    padding: 20px 0px 0px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    
}
#header{
    height: 100px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
#brand{
    flex: 50%;
}
.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: coral;
    background: white url(images/search.png) right center no-repeat;
}
.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background: purple;
    font-size: 15px;
    margin-right: 10px;
}
.clear{
    clear: both;
}
#menu{
    height: 70px;
    background: linear-gradient(#F8F594, #D5D533);
     background: -webkit- linear-gradient(#F8F594, #D5D533);
    background: -0- linear-gradient(#F8F594, #D5D533);
    background:-moz- linear-gradient(#F8F594, #D5D533);
    padding: 7px 0;
    }
    ul{
    list-style: none;
    }
    #menu ul li{
        float: left;
        padding: 0 10px;
        height: 30px;
        border-right: 1px solid #5d12e7;
        display: inline-block;
        
        
    }
    #menu ul li:last-child{
        border-right: none;
    }
    #menu ul li a{
        text-decoration: none;
        text-transform: uppercase;
        font-size: 17px;
        color: #5d12e7;
        line-height: 30px;
        transition: font-size 0.3s ease;
        -webkit-transition: font-size 0.3s ease;
        -o-transition:font-size 0.3s ease;
        -moz-transition:font-size 0.3s ease;
        -ms-transition:font-size 0.3s ease;
        transition: font-size 0.3s ease;
    }
    #menu ul li a:hover, #menu ul li a.active{
        font-size: 20px;
        font-weight: bold;
        color: #316901;
        
    }
    #introduction {
        background: linear-gradient(#E5F288,#87E952);
        background: -webkit- linear-gradient(#E5F288,#87E952);
        background: -0- linear-gradient(#E5F288,#87E952);
        background: -moz- linear-gradient(#E5F288,#87E952);
        padding: 30px;
        margin: 16px 0;
    }
    #introduction h3{
        font-size: 45px;
        color: #316901;
        font-weight: normal;
    }
    #introduction p{
        font-size: 25px;
        color: #628F19;
        text-align: justify;
    }
    .sidebar {
        height: 600px;
         width: 500px;
         border: 1px solid #BAF46F;
     border-radius: 20px;
     padding: 10px 30px;
     }
     .sidebar h3{
      color: #B314DB;
     font-size: 30px;
     }
     .sidebar ul{
         padding-top: 8px;
     }
     .sidebar ul li a{
       text-decoration: none;
     font-size: 20px;
     color: #5d12e7;
     transition: ;font-size: 0.3s ease;
     -webkit-transition: font-size 0.3s ease;
     -moz-transition: font-size 0.3s ease;
     -o-transition: font-sizeo.3s ease;
     -ms-transition: font-sizeo.3s ease;
     transition: font-sizeo.3s ease;
     }
     .sidebar ul li a:hover,.sidebar ul li a.active{
         text-decoration: none;
         color: #B314DB;
         font-size: 23px;
         font-weight: bold;
     }
     #leftsidebar ul li {
       padding: 4px 0px 4px 10px;
     list-style-image: url(images/arrow.png);
     }
     
     #leftsidebar{
         float: left;
     }
     #rightsidebar {
         float: right;
     }
     #rightsidebar ul li{
         padding: 17px 0 17px 70px;
         background: url(images/tick.png) no-repeat left center;
     }
     .footer{
        height: 60px;
       background: linear-gradient(#F6F390, #D5D533);
       background:-o- linear-gradient(#F6F390, #D5D533);
        background: -webkit- linear-gradient(#F6F390, #D5D533);
           background: -ms- linear-gradient(#F6F390, #D5D533);
           background: -moz- linear-gradient(#F6F390, #D5D533);
           padding:  10px 30px;
           margin-top: 15px;
           width: 100%;
    

           
     }
     .